[phases.setup]
nixPkgs = ["nodejs", "cairo", "pango", "libjpeg", "giflib", "librsvg", "pixman", "fontconfig", "freefont_ttf", "dejavu_fonts", "liberation_ttf", "noto-fonts"]

[phases.install]
cmds = ["npm install"]

[start]
cmd = "npm start"
